## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Percent Humidity,Percent Cloudiness,Wind Speed
0,0,Tottori,JP,2022-04-29 02:04:59,shower rain,35.5000,134.2333,55.47,94,75,2.30
1,1,Kushiro,JP,2022-04-29 02:06:06,overcast clouds,42.9750,144.3747,47.73,48,98,15.41
2,2,Bathsheba,BB,2022-04-29 02:06:06,scattered clouds,13.2167,-59.5167,79.41,89,40,12.66
3,3,Ipora,BR,2022-04-29 02:02:34,clear sky,-16.4419,-51.1178,68.36,59,4,3.11
4,4,Ust-Tsilma,RU,2022-04-29 02:06:08,scattered clouds,65.4410,52.1498,25.27,82,25,8.41

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 85

In [4]:
city_data_df["Max Temp"] <= max_temp

0      True
1      True
2      True
3      True
4      True
       ...
696    True
697    True
698    True
699    True
700    True
Name: Max Temp, Length: 701, dtype: bool

In [5]:
test_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)]
test_df

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Percent Humidity,Percent Cloudiness,Wind Speed
0,0,Tottori,JP,2022-04-29 02:04:59,shower rain,35.5000,134.2333,55.47,94,75,2.30
1,1,Kushiro,JP,2022-04-29 02:06:06,overcast clouds,42.9750,144.3747,47.73,48,98,15.41
2,2,Bathsheba,BB,2022-04-29 02:06:06,scattered clouds,13.2167,-59.5167,79.41,89,40,12.66
3,3,Ipora,BR,2022-04-29 02:02:34,clear sky,-16.4419,-51.1178,68.36,59,4,3.11
4,4,Ust-Tsilma,RU,2022-04-29 02:06:08,scattered clouds,65.4410,52.1498,25.27,82,25,8.41
...,...,...,...,...,...,...,...,...,...,...,...
696,696,Pitimbu,BR,2022-04-29 02:27:02,broken clouds,-7.4706,-34.8086,75.79,79,76,10.80
697,697,Taman,RU,2022-04-29 02:27:03,overcast clouds,45.2117,36.7161,56.71,75,99,12.55
698,698,Abu Dhabi,AE,2022-04-29 02:27:03,clear sky,24.4667,54.3667,84.22,49,0,8.05
699,699,Shimoni,KE,2022-04-29 02:27:04,light rain,-4.6476,39.3817,77.52,82,86,14.05
700,700,Amapa,BR,2022-04-29 02:27:04,overcast clouds,1.0000,-52.0000,72.45,99,100,2.19

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Percent Humidity,Percent Cloudiness,Wind Speed
2,2,Bathsheba,BB,2022-04-29 02:06:06,scattered clouds,13.2167,-59.5167,79.41,89,40,12.66
6,6,Faanui,PF,2022-04-29 02:06:08,light rain,-16.4833,-151.7500,81.46,72,0,21.54
15,15,Gigmoto,PH,2022-04-29 02:06:14,scattered clouds,13.7796,124.3900,84.97,73,27,10.87
18,18,Atuona,PF,2022-04-29 02:06:15,broken clouds,-9.8000,-139.0333,79.36,74,58,19.62
24,24,Butaritari,KI,2022-04-29 02:03:02,overcast clouds,3.0707,172.7902,82.06,77,100,15.93
25,25,Celestun,MX,2022-04-29 02:06:19,scattered clouds,20.8667,-90.4000,78.04,71,27,15.57
36,36,Culebra,PR,2022-04-29 02:06:23,few clouds,18.3030,-65.3010,78.84,76,22,5.99
48,48,Honolulu,US,2022-04-29 02:05:02,scattered clouds,21.3069,-157.8583,83.44,64,40,13.80
51,51,Kapaa,US,2022-04-29 02:03:40,scattered clouds,22.0752,-159.3190,78.48,81,32,5.99
54,54,Bengkulu,ID,2022-04-29 02:07:32,moderate rain,-3.8004,102.2655,82.29,72,98,3.49

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                107
City                   107
Country                107
Date                   107
Current Description    107
Lat                    107
Lng                    107
Max Temp               107
Percent Humidity       107
Percent Cloudiness     107
Wind Speed             107
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how='any', inplace=True)
clean_df

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Percent Humidity,Percent Cloudiness,Wind Speed
2,2,Bathsheba,BB,2022-04-29 02:06:06,scattered clouds,13.2167,-59.5167,79.41,89,40,12.66
6,6,Faanui,PF,2022-04-29 02:06:08,light rain,-16.4833,-151.7500,81.46,72,0,21.54
15,15,Gigmoto,PH,2022-04-29 02:06:14,scattered clouds,13.7796,124.3900,84.97,73,27,10.87
18,18,Atuona,PF,2022-04-29 02:06:15,broken clouds,-9.8000,-139.0333,79.36,74,58,19.62
24,24,Butaritari,KI,2022-04-29 02:03:02,overcast clouds,3.0707,172.7902,82.06,77,100,15.93
...,...,...,...,...,...,...,...,...,...,...,...
681,681,Kaduqli,SD,2022-04-29 02:25:54,overcast clouds,11.0167,29.7167,84.11,49,95,5.14
686,686,Maumere,ID,2022-04-29 02:25:57,broken clouds,-8.6199,122.2111,84.13,69,75,2.73
687,687,Ormara,PK,2022-04-29 02:25:57,clear sky,25.2088,64.6357,83.30,79,0,14.43
689,689,Pindiga,NG,2022-04-29 02:26:58,overcast clouds,9.9833,10.9333,79.59,57,100,10.42
698,698,Abu Dhabi,AE,2022-04-29 02:27:03,clear sky,24.4667,54.3667,84.22,49,0,8.05

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,
6,Faanui,PF,81.46,light rain,-16.4833,-151.7500,
15,Gigmoto,PH,84.97,scattered clouds,13.7796,124.3900,
18,Atuona,PF,79.36,broken clouds,-9.8000,-139.0333,
24,Butaritari,KI,82.06,overcast clouds,3.0707,172.7902,
25,Celestun,MX,78.04,scattered clouds,20.8667,-90.4000,
36,Culebra,PR,78.84,few clouds,18.3030,-65.3010,
48,Honolulu,US,83.44,scattered clouds,21.3069,-157.8583,
51,Kapaa,US,78.48,scattered clouds,22.0752,-159.3190,
54,Bengkulu,ID,82.29,moderate rain,-3.8004,102.2655,

In [10]:
# # Iterate through the DataFrame.
# for index, row in hotel_df.iterrows():
#     # Get the latitude and longitude.
#     lat = row["Lat"]
#     lng = row["Lng"]

#     # Add the latitude and longitude to location key for the params dictionary.
#     params["location"] = f"{lat},{lng}"

#     # Use the search term: "lodging" and our latitude and longitude.
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#     # Make request and get the JSON data from the search.
#     hotels = requests.get(base_url, params=params).json()
#     # Grab the first hotel from the results and store the name.
#     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel
6,Faanui,PF,81.46,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
15,Gigmoto,PH,84.97,scattered clouds,13.7796,124.3900,Cj's Travellers Inn
18,Atuona,PF,79.36,broken clouds,-9.8000,-139.0333,Villa Enata
24,Butaritari,KI,82.06,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
681,Kaduqli,SD,84.11,overcast clouds,11.0167,29.7167,Nussyba
686,Maumere,ID,84.13,broken clouds,-8.6199,122.2111,Sylvia Hotel
687,Ormara,PK,83.30,clear sky,25.2088,64.6357,Kenara Colony house for Rent
689,Pindiga,NG,79.59,overcast clouds,9.9833,10.9333,Accommodation Center
698,Abu Dhabi,AE,84.22,clear sky,24.4667,54.3667,Beach Rotana

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel
6,Faanui,PF,81.46,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
15,Gigmoto,PH,84.97,scattered clouds,13.7796,124.3900,Cj's Travellers Inn
18,Atuona,PF,79.36,broken clouds,-9.8000,-139.0333,Villa Enata
24,Butaritari,KI,82.06,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
681,Kaduqli,SD,84.11,overcast clouds,11.0167,29.7167,Nussyba
686,Maumere,ID,84.13,broken clouds,-8.6199,122.2111,Sylvia Hotel
687,Ormara,PK,83.30,clear sky,25.2088,64.6357,Kenara Colony house for Rent
689,Pindiga,NG,79.59,overcast clouds,9.9833,10.9333,Accommodation Center
698,Abu Dhabi,AE,84.22,clear sky,24.4667,54.3667,Beach Rotana

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "./Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# Code to get map working
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))